.logo{
  text-align: center;
}
.hea{
  text-align: center;
  /* text-decoration-style: solid; */
  color: #FFFFFF;
  font-size: 90px;
  padding-top: 50px;
}
.ind{
      background-image: url(../img9.gif);
      padding-top: 60px;
      background-attachment: fixed;
      background-size:cover;
      height:auto;
      width: auto;
      position: relative;
      align-items: center;
      /* background-repeat: no-repeat; */
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #22123D;
}
.btn-primary:focus {
  color: #fff;
}
.btn-primary{
  background-color: #199EB8;
    border-radius: 60px;
      padding: 20px 50px;
      font-size:40px;
      color:#22123D;
      align-items: center;
}
.agec{
  background-image: url(../ig.gif);
  color: #ccffff;
  /*padding: 0px 0px;*/
  background-attachment: fixed;
  background-size:100% 100%;
  height:auto;
  width: auto;
  position: relative;
  align-items: center;
    background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}
.h{
  text-align: center;
  color: #999966;
}
li{
  display: inline;
}
p{
  text-align: center;
  font-size: 25px;
}
.navbar-collapse{
  color: #000000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  /* max-width: 480px; */
  padding: inherit;
  margin: auto;
  background-color: #555;
  height: 00px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration:inherit;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.dropdown-menu{
  background-color:#ddd;
  color: black;
}
.dropbtn {
  /* background-color: #3498DB; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  /* background-color: #2980B9; */
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f1f1f1;
  /* min-width: 160px; */
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.abo{
  padding-top: 60px;
}
#cimg{
  padding-top: 70px;
  position:inherit;
}
.i1:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: all 0.3s;
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
}
.column:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: all 0.3s;
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
}
/* Zoom In #2 */
.hover02  img {
	width: 370px;
	height: 350px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 img:hover {
	width: 350px;
}

.team{
  padding-top: 90px;
  text-align: center;
}
.team:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: all 0.3s;
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
}
.cp{
  text-align: center;
  color:#ffff99;
}
.cdp{
  padding-top: 100px;
  color: #ffff99;
  text-align: center;
  font-size: 50px;

}
.cds,.pu,.mmj{
padding-top: 100px;
color: skyblue;
text-align: center;
font-size: 50px;
max-width: auto;
}
/* Create three equal columns that floats next to each other */

.column {
  padding-top: 90px;
  float: left;
  width: 33.33%;
  text-align: center;
  font-style:oblique;
  /* padding: 10px; */
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.cor{
  text-align: center;
color:#ffff99;
}


.column1 {
  float: left;
  text-align: center;
  width: 25%;
  padding-top: -90px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 10px; */
  height: 300px;
  font-style:oblique;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .column1 {
    width: 100%;
  }
}
.column1:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: all 0.3s;
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
}
.hover03  img {
	width: 275px;
	height: 230px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 img:hover {
	width: 290px;
}
